<!--<md-toolbar layout="row" layout-align="center center">

  <md-button href="https://github.com/Swiip/generator-gulp-angular">Gulp Angular</md-button>

  <section flex layout="row" layout-align="left center">
    <md-button href="#" class="md-raised">Home</md-button>
    <md-button href="#" class="md-raised">About</md-button>
    <md-button href="#" class="md-raised">Contact</md-button>
  </section>

  <md-button class="acme-navbar-text">Application was created {{ vm.relativeDate }}.</md-button>

</md-toolbar>-->


<md-toolbar id="navbar" layout="row" layout-align="start center" flex ng-hide="ishide"> 
  <div class="md-toolbar-tools">
    <div layout="row" layout-align="start center" flex>
      <div flex>Bài tập</div>
      
      <div layout="row" layout-align="space-between center">
        <md-icon>person</md-icon>
        <span flex>Admin</span>
        <!--<md-icon>keyboard_arrow_down</md-icon>-->
      </div>
    </div>
  </div>
</md-toolbar>
