#request {
    #table-request {
        flex: 70%;
        #toolbar-request {
            padding-left: 15px;
            background-color: rgba(255, 255, 255, 0.70);
            color: rgba(0,0,0,0.54);

            .icon-gray {
                color: rgba(0,0,0,0.54);;
            }

        }

        .top {
            padding: 20px 30px;

            input[type=search] {
                border: 1px solid #E4E4E4;
                border-radius: 3px;
                height: 24px;
            }
        }
    }

    #search {
        flex: 30%;
        width: 300px;
        max-width: 300px;

        #toolbar-search {
            background-color: rgba(255, 255, 255, 0.70);
            color: rgba(0,0,0,0.54);
            padding-left: 15px;

            .icon-gray {
                color: rgba(0,0,0,0.54);;
            }
        }

        form {
            width: 90%;
            text-align: left;
            padding-left: 10px;


            // .date-datepicker-filter {
            //     padding: none !important;
            // }
            .title {
                font-size: 16px;
                color: rgba(0,0,0,0.54);
                font-weight: 600;
                padding-left: 5px;
            }

            .md-datepicker-input-container {
                display: block;
                overflow: hidden;
                padding-left: 10px;

            }
            .md-datepicker-button {
                display: none !important;
            }
        }
    }
}

