
<div layout="row" layout-align="space-between" layout-sm="column" id="request">
    <div id="table-request" flex>
        <div >
            <md-card>
            <md-toolbar id="toolbar-request" layout="row" layout-align="start center">
                <!--<md-icon class="icon-gray">home</md-icon>
                <md-icon class="icon-gray">navigate_next</md-icon>-->
                <span flex>Yêu cầu khách hàng</span>

                <md-button  class="md-icon-button" aria-label="Reload">
                    <md-icon class="icon-gray">replay</md-icon>
                </md-button>
            </md-toolbar>
            </md-card>
            <md-divider></md-divider>

            <md-card>
                <div class="top" layout="row" layout-align="end center">
                    <label>Search: </label>
                    <input type="search" ng-model="request.search">
                </div>
                <md-divider></md-divider>
                <md-table-container>
                    <table md-table>
                        <thead md-head>
                            <tr md-row>
                                <th md-column><span>Ngày đặt yêu cầu</span></th>
                                <th md-column><span>Họ tên khách hàng</span></th>
                                <th md-column>SĐT khách hàng</th>
                                <th md-column>Ngày làm</th>
                                <th md-column>Thợ yêu cầu</th>
                                <th md-column>SĐT thợ</th>
                                <th md-column>Dịch vụ</th>
                                <th md-column>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row ng-repeat="req in request.cusReq.data">
                                <td md-cell>{{req.ngaydatyeucau | date: 'dd/MM/yyyy'}}</td>
                                <td md-cell>{{req.hotenKH}}</td>
                                <td md-cell>{{req.accountKH}}</td>
                                <td md-cell>{{req.ngaylam | date: 'dd/MM/yyyy'}}</td>
                                <td md-cell>{{req.hotenTho}}</td>
                                <td md-cell>{{req.sdtTho}}</td>
                                <td md-cell>{{req.dichvuyc.toString()}}</td>
                                <td md-cell>{{req.trangthai}}</td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <md-table-pagination md-limit="request.query.limit" md-limit-options="[5, 10, 15]" md-page="request.query.page" md-total="{{request.cusReq.total}}" md-on-paginate="request.getListCusReqFn" md-page-select></md-table-pagination>
            </md-card>
        </div>
    </div>
    <md-card  id="search">
        <div>
            <md-toolbar id="toolbar-search" layout="row" layout-align="start center">
                <span flex >Tìm kiếm thợ</span>
                <md-button  class="md-icon-button" aria-label="Search Employees">
                    <md-icon class="icon-gray">search</md-icon>
                </md-button>
            </md-toolbar>
            <md-divider></md-divider> <br>

            <form>
                <div class="title">Họ tên thợ: </div>
                <md-input-container class="md-block" md-no-float>
                    <input type="text" name="name" ng-model="request.name">
                </md-input-container>

                <div class="title">Thời gian thực hiện:</div>
                <md-datepicker ng-model="ctrl.myDate" name="dateField" class="md-block" md-no-float></md-datepicker>

                <br><br>
                <div class="title">Sở trường</div><br>
                <div layout="row" layout-align="space-between center" layout-wrap>
                    <md-checkbox ng-repeat="sk in request.skills" >{{sk.tenDichVu}}</md-checkbox>
                </div>
            </form>
            <div></div>
        </div>
    </md-card>
</div>