/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

#main {
  max-width: 100%;
  height: 886px;
  max-height: 100px;

  #content {
    background-color: whitesmoke;
  }


  #navigation {
    width: 300px;
    max-width: 300px;
    max-height: 100%;
    position: relative;
    color: rgba(255, 255, 255, 0.70);
    display: block;
    background: rgb(45,50,62);

    // .md-list {
    //   padding: 0px !important;
    // }

    .node {
        width: 100%;
        overflow: hidden;
        display: block;
        position: relative;
        font-size: 13px;
        font-weight: 500;
        cursor: auto;
        background: none !important;
        text-transform: uppercase;
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis; 
        margin-left: 5px;
        padding-bottom: 10px;
    }

    .node-item {
      width: 100%;
      overflow: hidden;
      display: block;
      position: relative;
      font-size: 13px;
      font-weight: 500;
      cursor: auto;
      background: none !important;
      text-transform: uppercase;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; 
      margin-left: 24px;
      padding-bottom: 10px;
      padding-top: 10px;
    }
  }
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  color: rgba(0,0,0,0.54);

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html {
  font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
}

body {
  width: 100%;
  height: 100%;
}

[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

md-toolbar.md-default-theme {
  background-color: black;
}

section.jumbotron {
  margin-bottom: 30px;
  padding: 1px 30px;
  background-color: #5aadbb;
  text-align: center;

  color: white;

  h1 {
    font-size: 3em;
  }
}

.techs {
  display: flex;
  flex-flow: row wrap;

  md-card {
    width: 30%;

    img.pull-right {
      float: right;
      width: 100px;
    }
  }
}

/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
