<!doctype html>
<html ng-app="adminsite">
  <head>
    <meta charset="utf-8">
    <title>adminsite</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body ng-controller="IndexController as vm">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

<div id="main">
  <acme-navbar creation-date="vm.creationDate"></acme-navbar>
  <div layout="row">
    <div layout="column" layout-align="start center">
          <div id="navigation" flex> 
            <md-list>
              <div ng-repeat="node in vm.menu">
                <md-list-item ng-click="vm.goState(node.state)">
                  <div layout="row" layout-align="space-between center" class="node">
                    <span flex>{{node.name}}</span>
                    <md-button class="md-icon-button" ng-if="node.item && vm.isHide" >
                        <md-icon class="background-icon-white" ng-click="vm.isHide = !vm.isHide">keyboard_arrow_down</md-icon>
                    </md-button>
                    <md-button class="md-icon-button"  ng-if="node.item && !vm.isHide">
                        <md-icon class="background-icon-white" ng-click="vm.isHide = !vm.isHide">navigate_next</md-icon>
                    </md-button>
                  </div>
                </md-list-item>
                <md-list-item ng-repeat="item in node.item"  ng-hide="node.item && !vm.isHide" ng-click="vm.goState(item.state)">
                  <div class="node-item">{{item.name}}</div>
                </md-list-item>
              </div>
              <!--<md-list-item class="node" ng-repeat="node in vm.menu">
                <div layout="column">
                  <div layout="row" layout-align="splace-between center">
                    <span flex>{{node.name}}</span>
                    <md-icon class="background-icon-white" ng-if="node.item && vm.isHide" ng-click="vm.isHide = !vm.isHide">keyboard_arrow_down</md-icon>
                    <md-icon class="background-icon-white" ng-if="node.item && !vm.isHide" ng-click="vm.isHide = !vm.isHide">navigate_next</md-icon>
                  </div>

                  <md-list ng-hide="node.item && !vm.isHide">
                    <md-list-item ng-repeat="item in node.item"  class="node-item">
                      {{item.name}}
                    </md-list-item>
                  </md-list>
                </div>
              </md-list-item>-->
            </md-list>
          </div>
    </div>
    <div ui-view id="content" flex layout="column"></div>
  </div>
</div>

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
